<h2 mat-dialog-title>Add / Edit Song</h2>
<mat-radio-group (change)="onRadioChange($event)">
  <mat-radio-button id="song" value="song" checked="true">Add Song</mat-radio-button>
  <mat-radio-button id="break" value="break">Add Break</mat-radio-button>
</mat-radio-group>

<form [formGroup]="songForm">

  <!-- fields to show when adding a new song -->

  <div class="row" *ngIf="formType === 'song'">
    <mat-form-field appearance="outline">
      <mat-label>Artist</mat-label>
      <input matInput formControlName="artist">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Album</mat-label>
      <input matInput formControlName="album">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Song</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
  </div>

  <!-- fields to show when adding a break -->

  <div class ="row" *ngIf="formType === 'break'">

    <mat-form-field appearance="outline">
      <mat-label>Break Notes</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

  </div>
  <div class="row">
    <div class="timeText">
      <div>Song Time:</div>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Minutes</mat-label>
      <input type="number" matInput formControlName="runMinutes">
    </mat-form-field>

    <mat-form-field appearance="outline" >
      <mat-label>Seconds</mat-label>
      <input type="number" matInput formControlName="runSeconds">
    </mat-form-field>
  </div>

  </form>

<div class="buttonContainer">
  <button mat-raised-button (click)="addSong()">Add Song</button>
  <button mat-raised-button (click)="closeDialog()">Close</button>
</div>
