<h1>SETLIST APP</h1>

<div class="container">

  <div class="example-container">
    <h3>Set List</h3>
    <table
      cdkDropList
      #setlist="cdkDropList"
      [cdkDropListData]="setList"
      [cdkDropListConnectedTo]="[songlist]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <tr class="row">
        <th></th>
        <th>Artist</th>
        <th>Album</th>
        <th>Song</th>
        <th>Time</th>
        <th></th>
      </tr>
      <!-- <div class="example-box" *ngFor="let song of setList; let i = index" cdkDrag> -->
      <tr class="row" *ngFor="let song of setList; let i = index" cdkDrag>
        <td>{{i+1}}.</td>
        <td>{{song.artist}}</td>
        <td>{{song.album}}</td>
        <td>{{song.song}}</td>
        <td>{{song.time}}</td>
        <td>
          <button (click)="delete()">Delete</button>
        </td>
      </tr>
    </table>
  </div>

  <div class="example-container">
    <h3>Song List</h3>
    <table
      cdkDropList
      #songlist="cdkDropList"
      [cdkDropListData]="songList"
      [cdkDropListConnectedTo]="[setlist]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <tr>
        <th>Artist</th>
        <th>Album</th>
        <th>Song</th>
        <th>Time</th>
        <th></th>
        <th></th>
      </tr>
      <!-- <div class="example-box" *ngFor="let song of setList; let i = index" cdkDrag> -->
      <tr class="example-box" *ngFor="let song of songList" cdkDrag>
        <td>{{song.artist}}</td>
        <td>{{song.album}}</td>
        <td>{{song.song}}</td>
        <td>{{song.time}}</td>
        <td>
            <button (click)="add()">Add</button>
          </td>
        <td>
          <button (click)="delete()">Delete</button>
        </td>
      </tr>
    </table>
  </div>

</div>

<div class="container">
  <div>
    <button (click)="showLists()">Show Lists</button>
  </div>
</div>
