<h1>SETLIST APP</h1>

<div class="container">

  <div class="example-container">
    <h3>Set List</h3>
    <table
      cdkDropList
      #setlist="cdkDropList"
      [cdkDropListData]="setList"
      [cdkDropListConnectedTo]="[songlist]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <tr class="row">
        <th></th>
        <th>Artist</th>
        <th>Album</th>
        <th>Song</th>
        <th>Time</th>
        <th></th>
      </tr>
      <tr class="row" *ngFor="let song of setList; let i = index" cdkDrag>
        <td>{{i+1}}.</td>
        <td>{{song.artist}}</td>
        <td>{{song.album}}</td>
        <td>{{song.song}}</td>
        <td>{{song.runMinutes}}:{{song.runSeconds}}</td>
        <td>
          <button (click)="deleteFromSet(song, i)">Delete</button>
        </td>
      </tr>
    </table>
  </div>

  <div class="example-container">
    <h3>Song List</h3>
    <table
      cdkDropList
      #songlist="cdkDropList"
      [cdkDropListData]="songList"
      [cdkDropListConnectedTo]="[setlist]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <tr>
        <th>Artist</th>
        <th>Album</th>
        <th>Song</th>
        <th>Time</th>
        <th></th>
        <th></th>
      </tr>
      <tr class="example-box" *ngFor="let song of songList, let i = index" cdkDrag>
        <td>{{song.artist}}</td>
        <td>{{song.album}}</td>
        <td>{{song.song}}</td>
        <td>{{song.runMinutes}}:{{song.runSeconds}}</td>
        <td>
            <button (click)="add(song, i)">Add</button>
          </td>
        <td>
          <button (click)="deleteFromList()">Delete</button>
        </td>
      </tr>
    </table>
  </div>

</div>

<div class="container">
  <div>
    {{ totalSetTime.minutes }}:{{ totalSetTime.seconds }}
  </div>
  <div>
    <button (click)="showLists()">Show Lists</button>
  </div>
  <div>
    <button (click)="openSongDialog()">Add A Song</button>
  </div>
</div>
